@charset "utf-8";
/* CSS Document */
.fb_search{
	font-family:Verdana, Geneva, sans-serif;
	font-size:20px;
	color:#3b5998;
	vertical-align: -webkit-baseline-middle;
}

.header_padding{
	padding:10px;
}

.remove_radius{
	border-radius: 0px;
}

.pad_left_20{
	padding-left:20px;
}

.lightgray_bkg{
	background:#F9F9F9; 
}

.fb_blue_bkg{
	background:#3b5998;
}

.bottom_blue_border{
	border-bottom: 2px solid #3b5998;
}

.search_button_width {
	width:90px;
}

.width100{
	width:100%
}

.padding15{
	padding: 15px;
}

.right{
	float:right;
}

.blue_color{
	color:#3b5998;
	border-color:#3b5998;
}

.white_color{
	color:white;
}

.height40{
	height: 40px;
}

.width80{
	width: 80px;
}

.circle_image{
	border-radius: 50%;
	width: 50px;
}

.radius10{
	border-radius: 10px;
}

.radius5{
	border-radius: 5px;
}

.nodata{
	background:#fcf8e3;
	color:#8a6d3b;
	height:50px;
	border-radius:5px;
}

.yellow{
	color:gold;
}

.progress_customize{
	margin-top:10%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.nextprev{
	margin-top: 30px;
	text-align: center;
	margin-bottom: 50px;
}

.marginbottom{
	margin-bottom:10px;
}

.marginright{
	margin-right:20px;
}

.margin10{
	margin:10px;
}

.verticlemiddle{
	vertical-align: middle;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #3b5998;
}

.nav-pills>li>a {
    border-radius: 0px;
	border-bottom: 2px solid #3b5998;
	height:50px;
	padding-top:15px;
	color:black;
}

.table>tbody>tr>th{
	border-top:none;
	height: 60px;
    vertical-align: middle;
	white-space: nowrap;
}

.table>tbody>tr>td{
    border-top: 1px solid lightgray;
	height: 60px;
    vertical-align: middle;
	white-space: nowrap;
}

.align_center{
	margin-left:45%;
	margin-right:45%;
}

.display_table{
	width:95%;
	margin-left: auto;
    margin-right: auto;
	overflow:auto;
	margin-top:2%;
}

.grayborder{
	border:1px solid lightgray;
}

.displayinline{
	display:inline-block;
}

.animate-hide {
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  line-height:20px;
  padding:10px;
  left: 0;
  position:relative;
}

.animate-hide.ng-hide {
  left: -100%;
  padding:0 10px;
}

.animate-hide-right {
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  line-height:20px;
  padding:10px;
  left: 0;
  position:relative;
}

.animate-hide-right.ng-hide {
  left: 100%;
  padding:0 10px;
}

.displaynone{
	display:none;
}

@media (max-width: 767px) {
	.search_button_width {
		width:40px;
	}

	.nav-pills>li>a {
		height:25px;
		border-radius: 0px;
		border-bottom:none;
		padding-top:2px;
		margin-bottom:0px;
	}

	.nav-pills>li:last-child {
		height:25px;
		border-radius: 0px;
		border-bottom: 2px solid #3b5998;
		padding-top:2px;
		margin-bottom:0px;
	}
	
	.display_table{
		width:90%;
		border: 1px solid lightgray;
	}
}

